* {
            box-sizing: border-box;
        }
body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
        }
        .container {
            width: 100%;
            max-width: 400px;
            margin: 100px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            text-align: center;
        }
        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin: 15px 0;
            box-sizing: border-box;
        }
        button {
            width: 100%;
            padding: 10px;
            background-color: #4285f4;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            background-color: #357ae8;
        }
        .message {
            text-align: center;
            margin-top: 20px;
            font-size: 18px;
            display: none;
        }
        .correct {
            color: green;
        }
        .wrong {
            color: red;
        }
		.katakot {
			display: none;
			height: 100%;
			width: 100%; 
			object-fit: contain;
			position: absolute;
			z-index: 1000;
			top: 1%;
			opacity: 0; 
            transition: opacity 5s ease;
		}
		.katakot img {
			height: 100%;
			width: 100%; 
                        }
